# PYTHONUNBUFFERED=1

SECRET_KEY='You need to generate a secret key.'

ALLOWED_HOSTS=

DEBUG=False

ORDER_API_URL='http://orders-service:8000/api/v1/orders/'

STRIPE_PUBLISHABLE_KEY='You need to get the secret key from Stripe.'
STRIPE_SECRET_KEY='You need to get the secret key from Stripe.'
STRIPE_WEBHOOK_SECRET='You need to get the secret key from Stripe.'
