####################################################
#
#          DATABASE CONNECTION PARAMETERS
#
####################################################
#
#
POSTGRES_DB=shop
POSTGRES_USER=user-shop
POSTGRES_PASSWORD=pass-shop
POSTGRES_ENDPOINT=shop-db
POSTGRES_PORT=5432

# The postgres database name used for testing (required).
# All other configurations except the database name are inherited from the main database defined above.
POSTGRES_TEST_DB=shop-test

PYTHONPATH=/usr/src/app

REDIS_TAG=7.4.0-v3
